.container {
    margin: 8px;
}

.botones {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 8px;
}

.header {
    padding: 8px;
}

img {
    width: 100%;
}